<div>
  <h2>Index</h2>
</div>
<% content_for :javascript do %>
  <script>var access_token = "<%= @access_token %>";</script>
  <%= javascript_include_tag "/js/ActivityLoader.js" %>
<% end %>
<div class="row">
  <div class="column">
    <div class="tableFixHead">
      <table id="activityList">
        <thead>
          <tr>
            <th style="width: 20%">Name</th>
            <th style="width: 30%">Date</th>
            <th style="width: 10%">Type</th>
            <th style="width: 10%"><span class="unit"></span></th>
            <th style="width: 15%">t</th>
            <th style="width: 15%">t/<span class="unit"></span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column">
    <div class="tableFixHead">
      <table>
        <thead>
          <tr>
            <th style="width: 20%">Name</th>
            <th style="width: 30%">Date</th>
            <th style="width: 10%">Type</th>
            <th style="width: 10%"><span class="unit"></span></th>
            <th style="width: 15%">t</th>
            <th style="width: 15%">t/<span class="unit"></span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>