<% content_for :javascript do %>
  <script>var access_token = "<%= @access_token %>";</script>
  <%= javascript_include_tag "/js/ActivityLoader.js" %>
<% end %>
<div>
  <ul class='distance-menu'>
    <li data-action="1km">1km</li>
    <li data-action="1mi">1mi</li>
    <li data-action="3km">3km</li>
    <li data-action="2mi">2mi</li>
    <li data-action="5km">5km</li>
    <li data-action="8km">8km</li>
    <li data-action="10km">10km</li>
    <li data-action="10mi">10mi</li>
    <li data-action="Half">Half Marathon</li>
    <li data-action="Marathon">Marathon</li>
  </ul>
  <div style="text-align: right">
    Target distance (<select id="selectDistance">
      <option value="mi">mi</option>
      <option value="km">km</option>
    </select>):
    <input style="width: 60px" id="distance">
  </div>
  <div style="text-align: right">
    Target pace: <span id="calculatedPace"></span> Target time: <span id="calculatedTime"></span>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="tableName">
      Activities
    </div>
    <div class="tableFixHead sortable">
      <table id="activityList">
        <thead>
          <tr>
            <th style="width: 30%">Name<span class="sortDisplay">↑</span></th>
            <th style="width: 30%">Date<span class="sortDisplay">↑</span></th>
            <th style="width: 8%">Type<span class="sortDisplay">↑</span></th>
            <th style="width: 8%"><span class="unit"></span><span class="sortDisplay">↑</span></th>
            <th style="width: 12%">t<span class="sortDisplay">↑</span></th>
            <th style="width: 12%">t/<span class="unit"></span><span class="sortDisplay">↑</span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div style="text-align: right">
      <button id="activity-select">
        select all
      </button>
      <button id="activity-deselect">
        deselect all
      </button>
      <button id="activity-move">
        move→
      </button>
    </div>
  </div>
  <div class="column">
    <div class="tableName">
      Pace calculation activities
    </div>
    <div class="tableFixHead sortable">
      <table id="calculateList">
        <thead>
          <tr>
            <th style="width: 30%">Name<span class="sortDisplay">↑</span></th>
            <th style="width: 30%">Date<span class="sortDisplay">↑</span></th>
            <th style="width: 8%">Type<span class="sortDisplay">↑</span></th>
            <th style="width: 8%"><span class="unit"></span><span class="sortDisplay">↑</span></th>
            <th style="width: 12%">t<span class="sortDisplay">↑</span></th>
            <th style="width: 12%">t/<span class="unit"></span><span class="sortDisplay">↑</span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div>
      <button id="calculate-move">
        ←move
      </button>
      <button id="calculate-select">
        select all
      </button>
      <button id="calculate-deselect">
        deselect all
      </button>
    </div>
  </div>
</div>