<h2>Index</h2>
<% content_for :javascript do %>
  <script>var access_token = "<%= @access_token %>";</script>
  <%= javascript_include_tag '/assets/ActivityLoader.js' %>
<% end %>
<ul id=activityList></ul>