<% content_for :javascript do %>
  <script>var access_token = "<%= @access_token %>";</script>
  <%= javascript_include_tag "/js/ActivityLoader.js" %>
<% end %>
<div>
  <div style="text-align: right">
    Target distance (<span class="unit"></span>):
    <input id="distance">
  </div>
  <div style="text-align: right">
    Target pace: <span id="calculatedPace"></span> Target time: <span id="calculatedTime"></span>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="tableName">
      Activities
    </div>
    <div class="tableFixHead">
      <table id="activityList">
        <thead>
          <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Date</th>
            <th style="width: 8%">Type</th>
            <th style="width: 8%"><span class="unit"></span></th>
            <th style="width: 12%">t</th>
            <th style="width: 12%">t/<span class="unit"></span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div style="text-align: right">
      <button id="activity-select">
        select all
      </button>
      <button id="activity-deselect">
        deselect all
      </button>
      <button id="activity-move">
        move→
      </button>
    </div>
  </div>
  <div class="column">
    <div class="tableName">
      Pace calculation activities
    </div>
    <div class="tableFixHead">
      <table id="calculateList">
        <thead>
          <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Date</th>
            <th style="width: 8%">Type</th>
            <th style="width: 8%"><span class="unit"></span></th>
            <th style="width: 12%">t</th>
            <th style="width: 12%">t/<span class="unit"></span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div>
      <button id="calculate-move">
        ←move
      </button>
      <button id="calculate-select">
        select all
      </button>
      <button id="calculate-deselect">
        deselect all
      </button>
    </div>
  </div>
</div>