.tableName {
  white-space: nowrap;
}

.tableFixHead {
  overflow-y: auto;
  padding: 0px;
  flex-grow: 1;
  overflow-x: hidden;
  outline: 1px solid #d0d0d0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  text-align: left;
}

.selected {
  background: #c0e0ff;
}

/* Just common table stuff. Really. */
table {
  font: 12px courier;
  border-collapse: collapse;
  width: 100%;
}


th, td {
  border: 1px solid #d0d0d0;
  border-right: none;
  border-top: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 0px;
}
th {
  background:#eee;
}

.sortDisplay {
  display: none;
}

.dsc .sortDisplay {
  display: inline-block;
  transform: scale(1, -1);
}

.asc .sortDisplay {
  display: inline-block;
}